div(class='sidebar')
  div(class='sidebar-header')
    a(class='toggle-users') 
    a(class='toggle-login') Login
    a(class='toggle-chat') Chat
    a(class='toggle-tools') Tools
    a(class='toggle-backups') Backups

  div(class='container tools-container')
  div(class='container backups-container')
  div(class='container chat-container')
    div(class='chat-log')
    div(class='chat-input-container')
      textarea(class='chat-input', type='text', placeholder='Send a message', maxlength=250)

  div(class='container login-container')
    div(class='login-form')
      form
        input(type='text', id='username')
        input(type='password', id='password')
        input(type='submit', class='login-button', value='Login')

  div(class='container users-container')
    div(class='user-list')
      div(class='user-list-section')
        div(class='user-list-section-header') Moderators
        div(class='moderators')
      div(class='user-list-section')
        div(class='user-list-section-header') Registered Users
        div(class='registered')
      div(class='user-list-section')
        div(class='user-list-section-header') Anons
        div(class='anons')
    div(class='move-ticker')
      div(class='move-ticker-header') Ticker
      div(class='move-ticker-body')