@import 'style';

.sidebar {
    .container {
        top: 58px;
    }

    .tools-container div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 40px;
        border: 1px solid #000;
        margin-bottom: -1px;
    }
}