.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: $sidebarWidth;
    z-index: 999;

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        width: $sidebarWidth;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: $sidebarHeaderPadding;

        a {
            cursor: pointer;
            padding: 3px;
            width: 100%;
            text-align: center;
        }
    }

    .container {
        display: none;
        position: fixed;
        right: 0;
        width: $sidebarWidth;
        top: 40px;
        bottom: 0;
        background-color: rgb(239, 238, 241);
        overflow: hidden;
        overflow-y: auto;
        font-size: 13px;

        input {
            display: block;
        }

        a {
            color: blueviolet;
            text-decoration: none;
        }

        // TODO: Randomise in JS from the palette
        .username {
            color: green;
        }

        .moderator {
            color: red;
        }
    }

    .login-container {
        .login-form {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    .chat-container {
        .chat-log {
            position: absolute;
            top: 0;
            bottom: 60px;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

        .chat-input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sidebarWidth;
            height: 60px;
            position: fixed;
            bottom: 0;

            textarea {
                margin: 0;
                width: 100%;
                height: 100%;
                resize: none;
                outline: none;
                border: none;
                border-top: 1px solid #dad8de;
                border-left: 1px solid #dad8de;
            }
        }

        .chat-line {
            margin: 3px;
            word-break: break-word;
        }
    }


    .users-container {
        .user-list {
            width: $sidebarWidth;
            padding: 0;
            position: absolute;
            top: 0;
            bottom: 22px;
            overflow: hidden;
            overflow-y: auto;
        }

        .user-list-section {
            padding: 3px;

            .user-list-section-header {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .user-list-ticker {
            bottom: 222px;
            overflow: hidden;
            overflow-y: auto;
        }

        .move-ticker {
            width: $sidebarWidth;
            position: fixed;
            bottom: 0;

            .move-ticker-header {
                border-top: 1px solid #dad8de;
                border-bottom: 1px solid #dad8de;
                margin-bottom: -1px;
                text-align: center;
                padding: 3px;
                cursor: pointer;
            }

            .move-ticker-body {
                margin: 1px 0 0 3px;
                display: none;
                height: 200px;
                overflow: hidden;
                overflow-y: auto;
            }
        }
    }
}

.palette-sidebar {
    width: calc(100% - #{$sidebarWidth});
}