$uiPadding: 8px;
$sidebarHeaderPadding: 8px;
$sidebarWidth: 300px + ($sidebarHeaderPadding * 3);
$bubbleBgColor: rgba(0, 0, 0, 0.6);
$messageBgColor: rgba(0, 0, 0, 0.8);

@import 'sidebar';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 99999;

    span {
        text-align: center;
        font-size: 36px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.board-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .board-zoomer {
        flex: 0 0 100px;
    }

    .board-mover {
        background-color: #fff;
    }

    .board {
        display: block;
    }

    #board {
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    }
}

.ui {
    z-index: 999;

    .reticule {
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
        border: 1px solid black;
        pointer-events: none;
        will-change: transform;
    }

    .cursor {
        position: absolute;
        width: 36px;
        height: 36px;
        border: 1px solid black;

        pointer-events: none;
        will-change: transform;
        z-index: 5;
    }

    .cooldown-timer {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);

        padding: 16px;
        background-color: $bubbleBgColor;
        color: white;
        font-size: 24px;

        pointer-events: none;
        user-select: none;
        z-index: 999;
    }

    .palette {
        position: absolute;
        bottom: 16px;
        width: 100%;
        padding: 0 16px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
    }

    .palette-color {
        display: inline-block;
        min-height: 32px;
        min-width: 32px;
        border: 1px solid black;
        margin-right: 8px;
        cursor: pointer;
    }

    .selection {
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
        border: 1px solid green;
        pointer-events: none;
        will-change: transform;
        animation: border-pulsate 2s infinite;
    }

    .message {
        padding: 16px;
        background-color: $messageBgColor;
        color: white;
        width: 50%;
        text-align: center;
        z-index: 999;

        position: fixed;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);

        .close {
            cursor: pointer;
            float: right;
        }
    }

    .coords {
        margin: $uiPadding;
        position: fixed;
        bottom: 0;
        padding: 8px;
        background-color: $bubbleBgColor;
        color: #fff;
    }

    .bubble-container {
        position: fixed;

        .bubble {
            margin: $uiPadding;
            padding: $uiPadding $uiPadding;
            width: 128px;
            background-color: $bubbleBgColor;
            color: #fff;
            text-align: center;
            cursor: pointer;

            a:visited, a:link, a:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .pixel-info {
        display: none;
        position: absolute;
        will-change: transform;
        background-color: white;
        border: 1px solid #000;
        padding: 3px;
    }
}

@keyframes border-pulsate {
    0%   { border-color: rgba(0, 0, 0, 1); }
    50%   { border-color: rgba(255, 255, 0, 0.5); }
    100%   { border-color: rgba(0, 0, 0, 1); }
}

.sp-replacer {
    vertical-align: unset !important;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .bubble-container {
        display: none;
    }

    .coords {
        top: $uiPadding;
        bottom: auto;
    }
}

