$uiMargin: 16px;
$sidebarWidth: 300px;
$sidebarHeaderPadding: 8px;
$sidebarFinalWidth: $sidebarWidth + ($sidebarHeaderPadding * 2 );

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

.palette-color {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.board-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.board-zoomer {
    flex: 0 0 100px;
}

.board-mover {
    background-color: #fff;
}

.board {
    display: block;
}

#board {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.reticule {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
    border: 0.2px solid black;
    pointer-events: none;
    will-change: transform;
}

.cursor {
    width: 36px;
    height: 36px;
    border: 1px solid black;

    pointer-events: none;
    will-change: transform;
    z-index: 5;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 99999;
}

.loading span {
    text-align: center;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui {
    z-index: 999;
}

.cooldown-timer {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    color: white;
    font-size: 24px;

    pointer-events: none;
    user-select: none;
    z-index: 999;
}

.palette {
    position: fixed;
    bottom: 64px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.message {
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    text-align: center;
    z-index: 999;

    position: fixed;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.message .close {
    cursor: pointer;
    float: right;
}

.coords {
    position: fixed;
    bottom: $uiMargin;
    left: $uiMargin;

    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
}

.online {
    position: fixed;
    bottom: $uiMargin;
    right: $uiMargin;

    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
}

.bubble-container {
    position: fixed;
    top: $uiMargin;
    left: $uiMargin;
}

.bubble {
    margin: 8px;
    width: 128px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.bubble {
    a:visited, a:link, a:hover {
        text-decoration: none;
        color: #fff;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: $sidebarWidth;
    z-index: 999;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    width: $sidebarWidth;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: $sidebarHeaderPadding;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.sidebar-header a {
    cursor: pointer;
    padding: 3px;
    width: 100%;
    text-align: center;
}

.chat-container, .login-container, .users-container {
    display: none;
    position: fixed;
    right: 0;
    width: $sidebarFinalWidth;
    top: 40px;
    bottom: 0;
    background-color: #efeef1;
    z-index: 999;
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $sidebarFinalWidth;
    height: 60px;
    position: fixed;
    bottom: 0;
}

.chat-input-container textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    border-top: 1px solid #dad8de;
    border-left: 1px solid #dad8de;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chat-log {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 60px;
    overflow: hidden;
    overflow-y: auto;
}

.user-list {
    margin:0; padding:0;
    position: absolute;
    top: 0;
    bottom: 25px;
    list-style-type: none;
    width:100%;
    overflow: hidden;
    overflow-y: auto;
}

.user-list-ticker {
 bottom: 231px;
}

.chat-log .chat-line, .user-list .username, .move-ticker-body {
    font-size: 13px;
    margin: 3px;
}

.chat-log .chat-message {
    word-break: break-word;
}

.move-ticker {
    width: $sidebarFinalWidth;
    position: fixed;
    bottom: 0;
}

.move-ticker-header {
    border-top: 1px solid #dad8de;
    border-bottom: 1px solid #dad8de;
    margin-bottom: -1px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

.move-ticker-body {
    display: none;
    height: 200px;
    overflow-y: auto;
}

.palette-chat {
    width: calc(100% - 300px);
}

.online-chat {
    right: $sidebarFinalWidth;
}

input {
    display:block;
}